body {
  background: black;
}

#characters {
  margin-left: 40%;
  margin-top: 10%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.character {
  display: none;
  width: 125px;
  height: 75px;
  margin: 15px 15px;
  background: white;
  border: solid;
  border-color: white;
  border-radius: 15px;
  border-width: 5px;
}

.character span {
  display: block;
  width: 100%;
  margin-bottom: 10%;
  color: black;
  font-size: 20px;
  font-family: monospace;
  word-wrap: break-word;
}

#timer {
  text-align: center;
  vertical-align: middle;
  margin: -2%;
  visibility: hidden;
  font-weight: bold;
  color: yellow;
}
#log {
  width: 400px;
  height: 475px;
  word-wrap: break-word;
  overflow-y: auto;
  margin: 0 auto;
  font-family: monospace;
  border: 5px solid white;
  border-radius: 7px;
  background-color: black
}
.user-input {
  height: 100px;
  margin: 50px auto;
}
.chat-message {
  color: yellow;
  font-style: normal;
}
.join-message {
  color: yellow;
  font-style: italic;
}
.leave-message {
  color: yellow;
  font-style: italic;
}
.role-assignment {
  color: yellow;
  font-style: italic;
}
.phase-announcement {
  color: yellow;
  font-style: italic;
}
#message {
  height: 75px;
  width: 300px;
  font-size: 12pt;
  font-style: normal;
  font-family: monospace;
  border: 5px solid white;
  border-radius: 7px;
  color: yellow;
  background-color: black;
  resize: none;
}
.messaging-system {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.system-controls {
  position: relative;
  left: 50%;
  margin-top: 45%;
}
